.user-chat-avatar {
  border-radius: 50%;
  border: 1px solid #8C979D;
  background-color: #8C979D;
  width: 45px;
  min-width: 45px;
  color: #FFF;
  font-size: 25px;
  line-height: 42px;
  height: 45px;
  text-align: center;
}

.user-profile-avatar {
  margin-right: 20px;
}
